<div class="message message-<%= @current_user==message.user ? 'mine' : 'other' %>">
  <div class="message-info">
    <% if @current_user==message.user and Time.now - message.created_at < 600 %>
      <%= link_to "Edit", edit_conversation_message_path(@conversation, message) %>
      <%= link_to "Delete", conversation_message_path(@conversation, message), method: :delete %>
    <% end %>
    <%= message.created_at %>
  </div>
  <div class="message-body"><%= message.body %></div>
</div>