<div class="user-heading">
  <h1><%= t(:sign_up_heading_h1, app_name: t(:app_name)) %></h1>
  <p><%= t(:sign_up_heading_text) %></p>
</div>

<div class="user-form">
  <h2><%= t(:sign_in) %></h2>
  <%= form_for :session, url: signin_path, method: :post do |f| %>
    <div class="user-form-field">
      <%= f.text_field :username_or_email, placeholder: t(:username_or_email), required: true %>
    </div>
    <div class="user-form-field">
      <%= f.password_field :password, id: "toggle_password", class: "password-field", placeholder: ct(:password), required: true %>
      <div class="password-toggle-icon" title="Show password"><i class="fa fa-eye" aria-hidden="true"></i></div>
    </div>
    <div class="user-form-field f-j-c">
      <%= f.submit ct(:sign_in) %>
    </div>
  <% end %>
</div>
<br>

<div class="user-form">
  <h2><%= t(:sign_up) %></h2>
  <%= form_for @user do |f| %>
    <div class="user-form-field">
      <%= f.text_field :username, placeholder: ct(:username), required: true %>
      <%= f.text_field :email, placeholder: ct(:email_placeholder), required: true %>
      <%= f.select :gender, ot(User.gender_options) %>
    </div>
    <div class="user-form-field">
      <%= f.password_field :password, id: "toggle_password", class: "password-field", placeholder: ct(:password), required: true %>
      <div class="password-toggle-icon" title="Show password"><i class="fa fa-eye" aria-hidden="true"></i></div>
    </div>
    <div class="user-form-field">
      <%= f.text_field :first_name, placeholder: ct(:first_name), required: true %>
      <%= f.text_field :last_name, placeholder: ct(:last_name), required: true %>
    </div>
    <div class="user-form-field">
      <%= f.hidden_field :longitude, id: 'longitude' %>
      <%= f.hidden_field :latitude, id: 'latitude' %>
      <%= f.text_field :location, placeholder: ct(:location), id: "geocoder_location", required: true %>
    </div>
    <div class="user-form-field m-b-none">
      <%= f.label :birth_date, ct(:birth_date) %>
      <%= f.label :rebirth_date,  ct(:rebirth_date) %>
    </div>
    <div class="user-form-field">
      <%= f.date_field :birth_date, required: true %>
      <%= f.date_field :rebirth_date %>
    </div>
    <div class="user-form-field f-j-c">
      <%= f.submit ct(:sign_up) %>
    </div>
  <% end %>
  <div style="position: absolute; bottom: 20px; right: 20px">
    <%= link_to signin_path do %>
      <i class="fa fa-sign-in" aria-hidden="true"></i>
      <%= t(:sign_in) %>
    <% end %>
  </div>
</div>

<%= javascript_include_tag "password_toggle" %>
<%= javascript_include_tag "geocoder_location" %>
