<div class="user-heading">
  <h1><%= t(:sign_in_heading_h1) %></h1>
  <p><%= t(:sign_in_heading_text) %></p>
</div>

<div class="user-form">
  <h2><%= t(:sign_in) %></h2>
  <%= form_for :session, url: signin_path, method: :post do |f| %>
    <div class="user-form-field">
      <%= f.text_field :username_or_email, placeholder: t(:username_or_email), required: true %>
    </div>
    <div class="user-form-field">
      <%= f.password_field :password, class: "password-field", placeholder: t(:password), required: true %>
      <div class="password-toggle-icon" title="Show password"><i class="fa fa-eye" aria-hidden="true"></i></div>
    </div>
    <div class="user-form-field f-jc">
      <%= f.submit "Sign in" %>
    </div>
  <% end %>
</div>

<%= javascript_include_tag "password_toggle" %>
