<div class="conversation flex f-d-c f-g-1">
  <h1>Conversation with <%= @conversation.users.where.not(id: @current_user.id).first.first_name %></h1>

  <div class="messages f-g-1">
    <%= render @messages %>
  </div>

  <%= form_with model: [@conversation, @message], local: true, class: "message-form text-right" do |form| %>
    <%= form.text_area :body, rows: 10 %>
    <br>
    <%= form.submit "Send message" %>
  <% end %>
</div>
