<h2><%= ct(:spiritual) %></h2>
<%= t(:attendance_frequency) %>: <%= ct(@user.specified(:attendance_frequency)) %>
<%= t(:tithing_status) %>: <%= ct(@user.specified(:tithing_status)) %>
<%= t(:alms_status) %>: <%= ct(@user.specified(:alms_status)) %>
<%= t(:prayer_frequency) %>: <%= ct(@user.specified(:prayer_frequency)) %>
<%= t(:number_of_times_read_bible) %>: <%= ct(@user.specified(:number_of_times_read_bible)) %>