<h1 class="f-j-fs">
  <% if @current_user == @user %>
    <%= "#{ct(:welcome)} " %><%= @user.first_name %>
    <%= form_for @current_user do |f| %>
      <%= f.hidden_field :longitude, id: 'longitude' %>
      <%= f.hidden_field :latitude, id: 'latitude' %>
      <%= f.text_field :location, placeholder: ct(:location), id: "geocoder_location", required: true, onchange: "this.form.submit();" %>
    <% end %>
    <%= javascript_include_tag "geocoder_location" %>
  <% else %>
    <%= "#{@user.first_name}," %>&nbsp;<span title='<%= t(:age) %>'><%= @user.age %> <%= "(#{@user.location})" if @user.location.present? %></span>
    <%= button_to t(:conversation), conversations_path(recipient_id: @user.id) %>
  <% end %>
</h1>
