<% if @current_user == @user %>
  <h1><%= "#{ct(:welcome)} " %><%= @user.first_name %>  (<%= @user.location %>)</h1>
<% else %>
  <h1><%= "#{@user.first_name}, " %><span title='<%= t(:age) %>'><%= @user.age %> (<%= @user.location %>)</span></h1>
<% end %>