<div class="user-profile">
  <% @user = user %>
  <% heading = "#{user.first_name} (#{user.age})" %>
  <% heading += ", #{user.location}" if user.location.present? %>
  <div class="flex">
    <div>
      <h2 class="m-t-none"><%= link_to heading, user_path(user.username) %></h2>
      <%= render 'user_profile_image' %>
      <%= render 'user_is_active' %>
    </div>
    <div class="flex m-l-none w-100">
      <div class="flex f-d-c w-50">
        <div class="w-100" style="height:352px;overflow:hidden">
          <%= render 'user_presentation' %>
        </div>
        <div class="w-100" style="height:222px">
          <%= render 'user_details' %>
        </div>
      </div>
      <div class="flex f-d-c w-50">
        <div class="w-100" style="height:122px">
          <%= render 'user_status' %>
        </div>
        <div class="w-100" style="height:210px">
          <%= render 'user_spiritual_details' %>
        </div>
        <div class="w-100" style="height:200px">
          <%= render 'user_worldly_details' %>
        </div>
      </div>
    </div>
  </div>
</div>
