<h2 class="m-t-none"><%= ct(:details) %></h2>

<table class="w-100 details-table table-striped">
  <tbody class="flex f-g-1 f-d-c">
    <tr class="flex f-g-1">
      <th><%= ct(:marital_status) %></th>
      <td>
        <% if @user==@current_user %>
          <% # This one is special, because marital_status has a suffix in translations %>
          <%= select_tag :marital_status, options_for_select(User.marital_status_options.map{ |option| [ct("#{option}.#{@user.gender}"), option]}, @user.marital_status), include_blank: ct(:not_specified), onchange: "userAjaxUpdate(this, 'marital_status')" %>
        <% else %>
          <%= @user.marital_status_string.capitalize %>
        <% end %>
      </td>
      <th><%= ct(:body_type) %></th>
      <td>
        <% if @user==@current_user %>
          <%= select_tag :body_type, options_for_select(ot(User.body_type_options), @user.body_type), include_blank: ct(:not_specified), onchange: "userAjaxUpdate(this, 'body_type')" %>
        <% else %>
          <%= ct(@user.specified(:body_type)) %>
        <% end %>
      </td>
    </tr>
    <tr class="flex f-g-1">
      <th><%= ct(:body_height) %></th>
      <td>
        <% if @user==@current_user %>
          <% # This one is special, because height_options are both in SI and imperial systems %>
          <%= select_tag :height, options_for_select(@user.height_options, @user.height), include_blank: ct(:not_specified), onchange: "userAjaxUpdate(this, 'height')" %>
        <% else %>
          <%= @user.body_height_string %>
        <% end %>
      </td>
      <th><%= ct(:weight) %></th>
      <td>
        <% if @user==@current_user %>
          <% # This one is special, because weight_options are both in SI and imperial systems %>
          <%= select_tag :weight, options_for_select(@user.weight_options, @user.weight), include_blank: ct(:not_specified), onchange: "userAjaxUpdate(this, 'weight')" %>
        <% else %>
          <%= @user.body_weight_string %>
        <% end %>
      </td>
    </tr>
    <tr class="flex f-g-1">
      <th><%= ct(:diet) %></th>
      <td>
        <% if @user==@current_user %>
          <%= select_tag :diet, options_for_select(ot(User.diet_options), @user.diet), include_blank: ct(:not_specified), onchange: "userAjaxUpdate(this, 'diet')" %>
        <% else %>
          <%= ct(@user.specified(:diet)) %>
        <% end %>
      </td>
      <th><%= ct(:exercise) %></th>
      <td>
        <% if @user==@current_user %>
          <%= select_tag :exercise, options_for_select(ot(User.exercise_options), @user.exercise), include_blank: ct(:not_specified), onchange: "userAjaxUpdate(this, 'exercise')" %>
        <% else %>
          <%= ct(@user.specified(:exercise)) %>
        <% end %>
      </td>
    </tr>
    <tr class="flex f-g-1">
      <th><%= ct(:eye_color) %></th>
      <td>
        <% if @user==@current_user %>
          <%= select_tag :eye_color, options_for_select(ot(User.eye_color_options, "eye_colors"), @user.eye_color), include_blank: ct(:not_specified), onchange: "userAjaxUpdate(this, 'eye_color')" %>
        <% else %>
          <%= ct("eye_colors.#{@user.specified(:eye_color)}") %>
        <% end %>
      </td>
      <th><%= ct(:tattoos) %></th>
      <td>
        <% if @user==@current_user %>
          <%= select_tag :tattoos, options_for_select(ot(User.tattoos_options), @user.tattoos), include_blank: ct(:not_specified), onchange: "userAjaxUpdate(this, 'tattoos')" %>
        <% else %>
          <%= ct(@user.specified(:tattoos)) %>
        <% end %>
      </td>
    </tr>
    <tr class="flex f-g-1">
      <th><%= ct(:smoke_status) %></th>
      <td>
        <% if @user==@current_user %>
          <%= select_tag :smoke_status, options_for_select(ot(User.smoke_status_options), @user.smoke_status), include_blank: ct(:not_specified), onchange: "userAjaxUpdate(this, 'smoke_status')" %>
        <% else %>
          <%= ct(@user.specified(:smoke_status)) %>
        <% end %>
      </td>
      <th><%= ct(:sober_status) %></th>
      <td>
        <% if @user==@current_user %>
          <%= select_tag :sober_status, options_for_select(ot(User.sober_status_options), @user.sober_status), include_blank: ct(:not_specified), onchange: "userAjaxUpdate(this, 'sober_status')" %>
        <% else %>
          <%= ct(@user.specified(:sober_status)) %>
        <% end %>
      </td>
    </tr>
    <tr class="flex f-g-1">
      <th><%= ct(:caffeine_status) %></th>
      <td>
        <% if @user==@current_user %>
          <%= select_tag :caffeine_status, options_for_select(ot(User.caffeine_status_options), @user.caffeine_status), include_blank: ct(:not_specified), onchange: "userAjaxUpdate(this, 'caffeine_status')" %>
        <% else %>
          <%= ct(@user.specified(:caffeine_status)) %>
        <% end %>
      </td>
      <th><%= ct(:drug_status) %></th>
      <td>
        <% if @user==@current_user %>
          <%= select_tag :drug_status, options_for_select(ot(User.drug_status_options), @user.drug_status), include_blank: ct(:not_specified), onchange: "userAjaxUpdate(this, 'drug_status')" %>
        <% else %>
          <%= ct(@user.specified(:drug_status)) %>
        <% end %>
      </td>
    </tr>
    <tr class="flex f-g-1">
      <th><%= ct(:medical_status) %></th>
      <td>
        <% if @user==@current_user %>
          <%= select_tag :medical_status, options_for_select(ot(User.medical_status_options), @user.medical_status), include_blank: ct(:not_specified), onchange: "userAjaxUpdate(this, 'medical_status')" %>
        <% else %>
          <%= ct(@user.specified(:medical_status)) %>
        <% end %>
      </td>
      <th><%= ct(:allergies_status) %></th>
      <td>
        <% if @user==@current_user %>
          <%= select_tag :allergies_status, options_for_select(ot(User.allergies_status_options), @user.allergies_status), include_blank: ct(:not_specified), onchange: "userAjaxUpdate(this, 'allergies_status')" %>
        <% else %>
          <%= ct(@user.specified(:allergies_status)) %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
