<h1 class="f-j-fs">
  <% if @current_user == @user %>
    <%= "#{ct(:welcome)} " %><%= @user.first_name %>
    <%= text_field_tag :location, @user.location, placeholder: ct(:location), id: "geocoder_location", onchange: "userAjaxUpdate(this, 'location')" %>
    <%= javascript_include_tag "geocoder_location" %>
  <% else %>
    <%= "#{@user.first_name}," %>&nbsp;<span title='<%= t(:age) %>'><%= @user.age %> <%= "(#{@user.location})" if @user.location.present? %></span>
  <% end %>
</h1>
