<h2 class="flex f-j-sb"><span><%= ct(:status) %></span></h2>
<table class="w-100 status-table table-striped">
  <tbody class="flex f-g-1 f-d-c">
    <tr class="flex f-g-1">
      <th><%= ct(:username) %></th>
      <td><%= @user.username %></td>
      <td><%= @user.verified?(:verified_user) %></td>
    </tr>
    <tr class="flex f-g-1">
      <th><%= ct(:congregation) %></th>
      <td><%= @user.congregation_string %></td>
      <td><%= @user.verified?(:verified_congregation) %></td>
    </tr>
    <tr class="flex f-g-1">
      <th><%= ct(:baptism) %></th>
      <td><%= @user.baptism_string %></td>
      <td><%= @user.verified?(:verified_rebirth) %></td>
    </tr>
  </tbody>
</table>