<h2><%= t(:church_responsibilities) %></h2>
<% if @current_user==@user %>
  <%= form_with model: [@current_user, UserChurchResponsibility.new], local: false, data: { remote: true } do |form| %>
    <%= form.collection_select(:church_responsibility_id, ChurchResponsibility.where.not(id: @church_responsibilities), :id, :text, { prompt: t(:add_a_church_responsibility) }, { class: "select2", style: "width: 100%", onchange: "this.form.submit();" }) %>
  <% end %>
<% end %>
<% if @church_responsibilities.present? %>
  <% @church_responsibilities.each do |church_responsibility| %>
    <span class="interest"><%= church_responsibility.text %></span>
  <% end %>
<% else %>
  <%= @user.first_name %> <%= t(:no_church_responsibilities) %>
<% end %>
