<h2 class="m-t-none"><%= ct(:status) %></h2>
<table class="w-100 status-table table-striped" style="height: 120px">
  <tbody class="flex f-g-1 f-d-c">
    <tr class="flex f-g-1">
      <th><%= ct(:username) %></th>
      <td><%= @user.username %></td>
      <td><%= @user.verified?(:verified_user) %></td>
    </tr>
    <tr class="flex f-g-1">
      <th><%= ct(:congregation) %></th>
      <td>
        <% if @user==@current_user %>
          <%= text_field_tag :congregation, @user.congregation, placeholder: ct(:congregation), id: "geocoder_congregation", onchange: "userAjaxUpdate(this, 'congregation')" %>
          <%= javascript_include_tag "geocoder_congregation" %>
        <% else %>
          <%= ct(@user.specified(:congregation)) %>
        <% end %>
      </td>
      <td><%= @user.verified?(:verified_congregation) %></td>
    </tr>
    <tr class="flex f-g-1">
      <th><%= ct(:baptism) %></th>
      <td>
        <% if @user==@current_user %>
          <%= date_field_tag :rebirth_date, @user.rebirth_date, onchange: "userAjaxUpdate(this, 'rebirth_date')" %>
        <% else %>
          <%= @user.baptism_string %>
        <% end %>
      </td>
      <td><%= @user.verified?(:verified_rebirth) %></td>
    </tr>
  </tbody>
</table>
