<h2><%= t(:books_read) %></h2>
<% if @current_user==@user %>
  <%= form_with model: [@current_user, UserBook.new], local: false, data: { remote: true } do |form| %>
    <%= form.collection_select(:book_id, Book.where.not(id: @books), :id, :title, { prompt: t(:add_a_book) }, { class: "select2", style: "width: 100%", onchange: "this.form.submit();" }) %>
  <% end %>
<% end %>
<% if @books.present? %>
  <% @books.each do |book| %>
    <span class="interest"><a target="_blank" href="https://m.egwwritings.org/en/book/<%= book.id %>"><%= book.title %></a></span>
  <% end %>
<% else %>
  <%= @user.first_name %> <%= t(:no_books_read) %>
<% end %>
