<h1><%= ct("plural.#{@current_user.searching_for}") %> <%= t("plural.age") %> <%= @current_user.age_range_lower %> <%= t(:to) %> <%= @current_user.age_range_upper %></h1>
<%= render partial: 'index_user_profile', collection: @users, as: :user %>
