<h1 class="flex f-j-fs c-m-lr-5">
  <%= ct("plural.#{@current_user.searching_for}") %>
  <%= t("plural.age") %>
  <%= @current_user.age_range_lower %>
  <%= t(:to) %>
  <%= @current_user.age_range_upper %>
</h1>
<%= render 'user_search_filters' %>
<div id="my-posts">
  <%= render @users %>
</div>

<div id="infinite-scrolling">
  <%= will_paginate %>
</div>

<script>
$(document).ready(function() {
  if($('#infinite-scrolling').size() > 0) {
    $(window).scroll(function() {
      more_items_url = $('.pagination .next_page').attr('href');
      if(more_items_url && $(window).scrollTop() > $(document).height() - $(window).height() - 100){
        $('.pagination').html('<img src="/assets/ajax-loading.gif" alt="Loading..." title="Loading..." />');
        $.getScript(more_items_url);
      }
    });
  }
});
</script>
