<h1 class="flex f-j-fs c-m-lr-5">
  <%= ct("plural.#{@current_user.searching_for}") %>
  <%= t("plural.age") %>
  <%= @current_user.age_range_lower %>
  <%= t(:to) %>
  <%= @current_user.age_range_upper %>
</h1>
<%= render 'user_search_filters' %>
<div id="my-posts">
  <%= render @users %>
</div>

<div id="infinite-scrolling">
  <%= will_paginate %>
</div>

<%= javascript_include_tag "infinite_scrolling" %>
