<%= render 'user_profile_name' %>
<div class="user-profile flex c-m-lr-5">
  <div class="left-side">
    <%= render 'user_profile_image' %>
    <%= render 'user_is_active' %>
    <%= render 'user_images' %>
    <%= render 'user_details' %>
    <%= render 'user_status' %>
  </div>
  <div class="right-side">
    <%= render 'user_presentation' %>
    <%= render 'user_interests' %>
    <%= render 'user_books' %>
    <%= render 'worldly_details' %>
  </div>
</div>
<% if @user == @current_user %>
  <%= javascript_include_tag "user_ajax_update" %>
<% end %>

<!--
t.point :location
t.float :longitude
t.float :latitude
t.date :last_active, default: -> { 'CURRENT_TIMESTAMP' }

t.float :distance_radius, default: 5.0
t.boolean :limit_contact_to_age_range, default: false

t.string :attendance_frequency
t.string :tithing_status
t.string :alms_status
t.string :prayer_frequency
t.integer :number_of_times_read_bible

t.string :smoke_status
t.string :sober_status
t.string :caffeine_status
t.string :drug_status
t.string :medical_status
t.string :allergies, array: true, default: []


-->