<h1><%= "#{t(:welcome)} #{@user.username}" %></h1>
<%= @user.email %>
<%= @user.gender %>
<%= @user.password_digest %>
<%= @user.first_name %>
<%= @user.last_name %>
<%= @user.birth_date %>
<%= @user.rebirth_date %>
