<% if @current_user == @user %>
  <h1><%= "#{ct(:welcome)} " %><%= @user.first_name %></h1>
<% else %>
  <h1><%= "#{@user.first_name}, " %><span title='<%= t(:age) %>'><%= @user.age %></span></h1>
<% end %>
<div class="user-profile flex c-m-lr-5">
  <div class="left-side">
    <div class="profile-image-wrapper">
    <% if @user.images.first.present? %>
      <%= image_tag @user.images.first, class: "profile-image" %>
      <% if @current_user == @user %>
        <%= link_to "&times;".html_safe, user_delete_image_path(user_id: @user, image_id: @user.images.first), method: :delete, class: "delete-image-link" %>
      <% end %>
    <% else %>
      <%= image_tag "#{@user.gender}.svg", class: "profile-image" %>
    <% end %>
    </div>
    <p class="flex f-jsb c-m-lr-5">
      <span>
        <%= t("searching_for", gender: t("singular.#{@user.searching_for}"), age_range_lower: @user.age_range_lower, age_range_upper: @user.age_range_upper) %>
      </span>
      <span class="<%= @user.is_active? ? "signed_in" : "signed_out" %>">
        <%= @user.is_active? ? "🟢 #{ct(:is_active)}" : "🔴 #{ct(:is_not_active)}" %>
      </span>
    </p>
    <%= render 'user_images' %>
    <%= render 'user_details' %>
    <%= render 'user_status' %>
  </div>
  <div class="f-g-1">
    <%= render 'user_presentation' %>
    <%= render 'user_interests' %>
    <%= render 'user_books' %>
  </div>
</div>

<!--
t.point :location
t.float :longitude
t.float :latitude
t.date :last_active, default: -> { 'CURRENT_TIMESTAMP' }

t.float :distance_radius, default: 5.0
t.boolean :limit_contact_to_age_range, default: false

t.string :education
t.integer :income_amount
t.string :income_currency
t.string :economy_status
t.string :work_status
t.string :attendance_frequency
t.string :tithing_status
t.string :alms_status
t.string :prayer_frequency
t.integer :number_of_times_read_bible
t.string :smoke_status
t.string :sober_status
t.string :caffeine_status
t.string :drug_status
t.string :medical_status
t.string :allergies, array: true, default: []
t.boolean :children_status
t.string :wants_children
t.boolean :pets_status
t.boolean :wants_pets
-->