<%= render 'user_profile_name' %>
<div class="user-profile flex c-m-lr-5">
  <div class="left-side">
    <%= render 'user_profile_image' %>
    <%= render 'user_is_active' %>
    <%= render 'user_images' %>
    <%= render 'user_details' %>
    <%= render 'user_status' %>
    <%= render 'user_spiritual_gifts' %>
    <%= render 'user_languages' %>
  </div>
  <div class="f-g-1">
    <%= render 'user_presentation' %>
    <%= render 'user_interests' %>
    <%= render 'user_books' %>
    <%= render 'user_spiritual_details' %>
    <%= render 'user_callings' %>
    <%= render 'user_worldly_details' %>
    <%= render 'user_church_responsibilities' %>
  </div>
</div>
<% if @user == @current_user %>
  <%= javascript_include_tag "user_ajax_update" %>
<% end %>
