<header class="top-header">
  <span><%= link_to t(:app_name), root_path %></span>
  <nav>
    <% if @current_user.present? %>
      <%= link_to user_path(@current_user) do %>
        <i class="fa fa-<%= "fe" if @current_user.gender === 1 %>male" aria-hidden="true"></i>
        <%= ct(:profile) %>
      <% end %>
      <%= link_to users_path do %>
        <i class="fa fa-<%= "fe" if @current_user.gender === 0 %>male" aria-hidden="true"></i>
        <%= ct(:search) %>
      <% end %>
      <div class="dropdown">
        <span class="dropdown-toggle">
          <i class="fa fa-cog" aria-hidden="true"></i> <%= ct(:settings) %>
        </span>
        <div class="dropdown-menu">
          <div class="dropdown-menu-item">
            <%= label_tag(:locale, ct(:language), class: 'dropdown-header') %>:&nbsp;
            <%= select_tag(:locale, options_for_select(I18n.available_locales.map{|locale| [language_options[locale], locale]}, I18n.locale), onchange: "set_locale({locale: this.value})") %>
          </div>
        </div>
      </div>
      <%= link_to signout_path, method: :delete do %>
        <i class="fa fa-sign-out" aria-hidden="true"></i>
        <%= ct(:sign_out) %>
      <% end %>
    <% else %>
      <%= link_to signin_path do %>
        <i class="fa fa-sign-in" aria-hidden="true"></i>
        <%= ct(:sign_in) %>
      <% end %>
    <% end %>
  </nav>
</header>

<script>
  function set_locale(data_object) {
    $.ajax({
      url: "<%= set_session_locale_path %>",
      type: 'PUT',
      data: data_object,
      success: function() { window.location.reload(); }
    });
  }
</script>

<%= javascript_include_tag "dropdown_menu" %>
