<header class="top-header">
  <span><%= t(:app_name) %></span>
  <nav>
    <% if @current_user.present? %>
      <span><%= t(:profile) %></span>
      <span><i class="fa fa-female" aria-hidden="true"></i><%= t(:search) %></span>
      <span><i class="fa fa-cog" aria-hidden="true"></i><%= t(:settings) %></span>
      <%= link_to signout_path, method: :delete do %>
        <i class="fa fa-sign-out" aria-hidden="true"></i>
        <%= t(:sign_out) %>
      <% end %>
    <% else %>
      <%= link_to signin_path do %>
        <i class="fa fa-sign-in" aria-hidden="true"></i>
        <%= t(:sign_in) %>
      <% end %>
    <% end %>
    <%= select_tag(:locale, options_for_select(I18n.available_locales.map{|locale| [language_options[locale], locale]}, I18n.locale), onchange: "set_locale({locale: this.value})") %>
  </nav>
</header>

<script>
  function set_locale(data_object) {
    $.ajax({
      url: "<%= set_session_locale_path %>",
      type: 'PUT',
      data: data_object,
      success: function() { window.location.reload(); }
    });
  }
</script>
