<!DOCTYPE html>
<html>
  <head>
    <title>Dating</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'jquery' %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'jquery-ui', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <% if value.kind_of?(Array) %>
          <% value.each do |message| %>
            <%= message %><br>
          <% end %>
        <% else %>
          <%= value %>
        <% end %>
      </div>
    <% end %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
